# Docker 环境变量，拷贝此文件为 .env 并填入真实值
ROCKETMQ_ENDPOINT=rmq-cn-u7c3giqmw0s-vpc.cn-hangzhou.rmq.aliyuncs.com:8080
ROCKETMQ_ENDPOINT=rmq-cn-u7c3giqmw0s-vpc.cn-hangzhou.rmq.aliyuncs.com:8080
ROCKETMQ_ACCESS_KEY=
ROCKETMQ_SECRET_KEY=
ROCKETMQ_TOPIC_NORMAL=NormalTest
ROCKETMQ_TOPIC_FIFO=OrderTest
ROCKETMQ_TOPIC_DELAY=TimerTest
ROCKETMQ_TOPIC_TRANSACTION=TransTest

# 可选: 只运行某个语言的某个测试
# TEST_TYPE=normal
# TEST_TYPE=fifo
# TEST_TYPE=delay
# TEST_TYPE=transaction
# TEST_TYPE=all
