# RocketMQ 实例配置
ROCKETMQ_ENDPOINT=rmq-cn-u7c3giqmw0s-vpc.cn-hangzhou.rmq.aliyuncs.com:8080
ROCKETMQ_ACCESS_KEY=Mhbct2T68T0zsbC3
ROCKETMQ_SECRET_KEY=qxi3NLwMMy7sL431
ROCKETMQ_TOPIC_NORMAL=NormalTest
ROCKETMQ_TOPIC_FIFO=OrderTest
ROCKETMQ_TOPIC_DELAY=TimerTest
ROCKETMQ_TOPIC_TRANSACTION=TransTest
